<div class="switch-btns">
    <app-button-hoverable routerLink="../home-screen" fw="bold" text="Records Table"></app-button-hoverable>
    <app-button-hoverable routerLink="../insert-screen" fw="bold" text="Insertion Table"></app-button-hoverable>
</div>

<div class="container">
    <div class="modification-table">
        <div class="table-title">
            <p>{{ insert_title }}</p>
            <div class="add-delete-btn">
                <app-button b_color="#4CAF50" t_color="white" fs="13px" text="Add" fw="bold"></app-button>
                <app-button b_color="#f44336" t_color="white" fs="13px" text="Clear" fw="bold"></app-button>
            </div>
        </div>
        <div class="input-types-forms">
            <app-input-date-time></app-input-date-time>
            <app-input-temp></app-input-temp>
            <app-input-details></app-input-details>
        </div>
    </div>
</div>