<div class="input-details">
    <app-title-input title="Temperature Measurement"></app-title-input>
    <app-hr w="180px"></app-hr>

    <p>{{ label_pressure }}</p>
    <input id="" type="number" placeholder="Enter pressure">

    <p>{{ label_wind }}</p>
    <input id="" type="number" placeholder="Enter wind">

    <p>{{ label_air_quality }}</p>
    <input id="" type="text" placeholder="Enter air quality">

    <p>{{ label_cloud }}</p>
    <input id="" type="text" placeholder="Enter cloud">

    <p>{{ label_humidity }}</p>
    <input id="" type="number" placeholder="Enter humidity">
</div>