<div class="forgot-password">
    <div class="web-name">
        <app-header></app-header>
    </div>

    <div class="container">
        <div class="forgot-password-form">
            <h3>Forgot password</h3>
        
            <form class="inputs">
                <input ngModel name="username" #username="ngModel" type="text" placeholder="Username" required>
                <div class="required"><p *ngIf="!username.valid && username.touched">Username is required</p></div>
                <input ngModel name="email" #email="ngModel" type="text" placeholder="Email" required>
                <div class="required"><p *ngIf="!email.valid && email.touched">Email is required</p></div>
            </form>
        
            <app-button b_color="#5050fd" t_color="white" fs="17px" fw="bold" text="Send"></app-button>
            <div class="help-option">
                <app-hr w="300px"></app-hr>
                <div class="back-to-sign-in-up">
                    <app-button routerLink="../login" b_color="#4CAF50" t_color="white" fs="17px" fw="bold" text="Back to Login"></app-button>
                </div>
            </div>
        </div>
        
    </div>
</div>