<!-- <div class="switch-btns">
    <app-button-hoverable fw="bold" text="Records Table"></app-button-hoverable>
    <app-button-hoverable fw="bold" text="Insertion Table"></app-button-hoverable>
</div> -->

<div class="container">
    <div class="modification-table">
        <div class="table-title">
            <p>{{ modify_title }}</p>
            <div class="add-delete-btn">
                <app-button (click)="updateWeatherData()" b_color="#1260cc" t_color="white" fs="13px" text="Update" fw="bold"></app-button>
                <app-button (click)="deleteWeatherData()" b_color="#f44336" t_color="white" fs="13px" text="Delete" fw="bold"></app-button>
                <app-button routerLink="../home-screen" b_color="#4CAF50" t_color="white" fs="13px" text="Cancel" fw="bold"></app-button>
            </div>
        </div>
        <div class="input-types-forms">
            <app-input-date-time></app-input-date-time>
            <app-input-temp></app-input-temp>
            <app-input-details></app-input-details>
        </div>
    </div>
</div>