<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Location</th>
            <th>Temp</th>
            <th>Feel Temp</th>
            <th>Min Temp</th>
            <th>Max Temp</th>
            <th>Pressure</th>
            <th>Wind</th>
            <th>Air Qaulity</th>
            <th>Cloud</th>
            <th>Humidity</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let weatherData of weatherDatas">
            <th>{{weatherData.date}}</th>
            <th>{{weatherData.time}}</th>
            <th>{{weatherData.province}}</th>
            <th>{{weatherData.temp}}</th>
            <th>{{weatherData.feel_like}}</th>
            <th>{{weatherData.min_temp}}</th>
            <th>{{weatherData.max_temp}}</th>
            <th>{{weatherData.pressure}}</th>
            <th>{{weatherData.wind}}</th>
            <th>{{weatherData.air_quality}}</th>
            <th>{{weatherData.cloud}}</th>
            <th>{{weatherData.humidity}}</th>
            <th><i class="fa fa-edit" (click)="modifiWeatherData(weatherData)"></i></th>
        </tr>
    </tbody>
</table>
