<div class="input-temps">
    <app-title-input title="Temperature Measurement"></app-title-input>
    <app-hr w="180px"></app-hr>

    <p>{{ label_temp }}</p>
    <input class="temp" id="" type="number" placeholder="Enter temperature">

    <p>{{ label_temp_feel }}</p>
    <input class="temp" id="" type="number" placeholder="Enter temperature">

    <p>{{ label_temp_min }}</p>
    <input class="temp" id="" type="number" placeholder="Enter temperature">

    <p>{{ label_temp_max }}</p>
    <input class="temp" id="" type="number" placeholder="Enter temperature">
</div>