<div class="sign-in">
    <div class="web-name">
        <app-header></app-header>
    </div>

    <div class="container">
        <div class="sign-in-form">
            <h3>Sign In</h3>
        
            <form class="inputs">
                <input [(ngModel)]="username" name="username" type="text" placeholder="Username" required>
                <input [(ngModel)]="password" name="password" type="password" placeholder="Password" required>
            </form>
        
            <app-button (click)='authenticateUser()' b_color="#5050fd" t_color="white" fs="17px" fw="bold" text="Login"></app-button>
            <div class="help-option">
                <app-hr w="300px"></app-hr>
                <app-button routerLink="../sign-up" b_color="#4CAF50" t_color="white" fs="17px" fw="bold" text="Create new account"></app-button>
            </div>
        </div>
        
    </div>
</div>