.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 70px;
}

.search-bar>h4 {
    padding: 12px 5px;
}

.search-bar>input {
    padding: 6px 10px;
    margin: 5px;
    border-radius: 7px;
    border: 1px solid #9F9F9F;
    width: 130px;
}

.search-bar .time {
    padding: 6px 10px;
    margin: 5px;
    border-radius: 7px;
    border: 1px solid #9F9F9F;
    width: 80px;
}

.search-bar .location {
    padding: 6px 10px;
    margin: 5px;
    border-radius: 7px;
    border: 1px solid #9F9F9F;
    width: 170px;
}